

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family:Arial, Helvetica, sans-serif;
}


    

div.secondimg{
    
    margin: 10px;

  
 

}
.firs-section{ max-width: 1920px;   height: 650px;  background-attachment: fixed; background-repeat: no-repeat;
  background-image: url('https://static.wixstatic.com/media/74f558_66357e0ecfea4c86b2ea0bce6e8a9447~mv2.jpg/v1/fill/w_1359,h_860,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/74f558_66357e0ecfea4c86b2ea0bce6e8a9447~mv2.jpg');
  background-size:cover;   }

li.nav-item a.nav-link{
    color: #1e1e1e;
   

    
}



.poppins-thin{
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.maintext  {
  padding-top: 200px;
  justify-content: flex-start;
 
  color: #f5f5f5;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
 

}
li.nav-item a.nav-link:hover{
    color: #a26028;
    
}
#axalgazrdebi :hover{color: #a26028;
    background-color: #a26028;

}

span.primary{
    font-size: 35px;
}
h2{
    padding-left: 72px;
}
span.look{
    padding: 40px;
    margin: 30px;
}

.spanel1{
    
    font-size: 40px;
    text-align: center;
}

.sometext{
    display: flex;
    font-size: 22px;
    color: #a26028;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;

}
.someworld{
    display: flex;
    margin-top: 15px; ;
    font-size: 13px;
    color: #1e1e1e;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;

}






.spanel{
 margin-top: 100px;
font-size: 40px;
text-align: center;
}

.servicepictures{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    /* padding-left: 72px;
    padding-right: 72px; */
    width: 100%;
    
    
   
    
}
.servicemoments{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    position: relative;
    font-size: 33px;
    bottom: 450px;
    color: #f5f5f5;
    cursor: pointer;
    
}
.svg1{
    width: 10px;
    fill:#1e1e1e ;
}

.satisfiedcus{
    font-size: 40px;
    text-align: center;
    margin-top: 150px;
}

.p{
    margin-top: 70px;
    display: flex;
    text-align:center; 
    justify-content: space-evenly;
     font-size:15px;
   
    
}

.textforP{
    margin-top: 15px;
    display: flex;
    text-align:center; 
    justify-content: space-evenly;
     font-size: 20px;
     color: #a26028;
     
   
}
.group {
    position: relative;
    margin-bottom: 45px;
  }
  
  .group input {
    background-color: #1e1e1e;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
    color: white;
  }
  .group input:focus {
    outline: none;
  }
  
  .group label {
    color: #f5f5f5;
    
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .group input:focus ~ label,
  input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: red;
  }
  
  .bar {
    position: relative;
    display: block;
    width: 300px;
  }
  .bar:before,
  .bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: red;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .bar:before {
    left: 50%;
  }
  .bar:after {
    right: 50%;
  }
  .group input:focus ~ .bar:before,
  input:focus ~ .bar:after {
    width: 50%;
  }
  
  .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }
  .group input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
  }
  
  @-webkit-keyframes inputHighlighter {
    from {
      background: red;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  @-moz-keyframes inputHighlighter {
    from {
      background: red;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  @keyframes inputHighlighter {
    from {
      background: red;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  .divdiva {
    display: flex;
    justify-content: center;
    gap: 60px;
  }
  
  
  
  .buttonfor-submit {
    display: flex;
    border-bottom: #1e1e1e;
    border-radius: 460 50;
    justify-content: center;
    color: white;
  }
  div.signin{
    padding:50px;
    
  }

  .textforimputss{
   
    color: #f5f5f5;
  }
  .grid-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    width: 85%;
    margin:50px auto;
    
  }
  .grid-box div{ 
    text-align: center;
  }
  .grid-box div p{
    margin-top: 40px;
  }
  .grid-box div span{
    margin-top: 40px;
    color: #a26028;
    font-size: 22px;
    

  }
  .buttonfor-submit:hover{
    color: #a26028;

  }
 
        
      
  