<div
  class="signin"
  style="
    display: flex;
    justify-content: space-between;
    background-color: #1e1e1e;
    margin-top: 30px;
  "
>
  <div class="textforimputss" style="margin-left: 170px">
    <span style="font-size: 40px; margin-bottom: 50px">
      Let's Discuss <br />
      Your Next Project</span
    >
    <p style="font-size: 15px; margin-top: 30px">
      Fill out the form, or call us to <br />
      set up a free in-home consultation.
    </p>
    <p style="font-size: 15px; margin-top: 20px">
      Service Areas: <br />
      San Francisco, Santa Clara, Alameda, San Mateo
    </p>
    <p style="font-size: 15px; margin-top: 20px">
      500 Terry Francine Street San Francisco, CA 94158
    </p>
    <p style="font-size: 15px; margin-bottom: 25px">infomysite.com</p>
    <p style="font-size: 15px; margin-bottom: 20px">123-456-7890</p>
  </div>

  <div>
    <form>
      <div class="divdiva">
        <div class="right">
          <div class="group">
            <input type="text" required />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>First Name</label>
          </div>

          <div class="group">
            <input type="text" required />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Email</label>
          </div>

          <div class="group">
            <input type="text" required />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>address</label>
          </div>
        </div>
        <div class="left">
          <div class="group">
            <input type="text" required />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label> Last Name</label>
          </div>

          <div class="group">
            <input type="text" required />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Phone</label>
          </div>

          <div class="group">
            <input type="text" required />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>subject</label>
          </div>

          <div class="group">
            <input type="text" required />
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>type your massage here...</label>
          </div>
        </div>
      </div>
      <div
        style="display: flex; align-items: center; justify-content: flex-end"
      >
        <button
          class="btn btn-secondary"
          style="
            display: flex;
            align-items: center;
            width: 675px;
            height: 50px;
            justify-content: center;
            background-color: white;
            color: darkgray;
            border-radius: 2px;
            border-color: darkgray;
            font-size: 22px;
          "
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
<iframe
  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11911.580601934975!2d44.7402614!3d41.7227813!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x404473f1e984eb5b%3A0xc9bc4f7477b26c2e!2sIT%20Academy%20STEP%20Georgia!5e0!3m2!1ska!2sge!4v1717503051426!5m2!1ska!2sge"
  width="600"
  height="450"
  style="border: 0"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"
></iframe>
