<div class="card w-30">
  <div class="center">
    <div class="carousel-wrapper">
      <!-- abstract radio buttons for slides -->
      <input id="slide1" type="radio" name="controls" checked="checked" />
      <input id="slide2" type="radio" name="controls" />
      <input id="slide3" type="radio" name="controls" />
      <input id="slide4" type="radio" name="controls" />
      <input id="slide5" type="radio" name="controls" />

      <!-- navigation dots -->
      <label for="slide1" class="nav-dot"></label>
      <label for="slide2" class="nav-dot"></label>
      <label for="slide3" class="nav-dot"></label>
      <label for="slide4" class="nav-dot"></label>
      <label for="slide5" class="nav-dot"></label>

      <!-- arrows -->
      <label for="slide1" class="left-arrow"> < </label>
      <label for="slide2" class="left-arrow"> < </label>
      <label for="slide3" class="left-arrow"> < </label>
      <label for="slide4" class="left-arrow"> < </label>
      <label for="slide5" class="left-arrow"> < </label>

      <label for="slide1" class="right-arrow"> > </label>
      <label for="slide2" class="right-arrow"> > </label>
      <label for="slide3" class="right-arrow"> > </label>
      <label for="slide4" class="right-arrow"> > </label>
      <label for="slide5" class="right-arrow"> > </label>

      <div class="carousel">
        <ul>
          <li>
            <img
              src="https://static.wixstatic.com/media/84770f_7cc282fec9f24e648480c978c6edea9f~mv2.jpg/v1/fit/w_480,h_480,q_90/84770f_7cc282fec9f24e648480c978c6edea9f~mv2.webp"
            />
          </li>
          <li>
            <img
              src="https://static.wixstatic.com/media/84770f_475e902fd3134c4db10a4c797caa191c~mv2.jpg/v1/fit/w_480,h_479,q_90/84770f_475e902fd3134c4db10a4c797caa191c~mv2.webp"
              alt=""
            />
          </li>
          <li>
            <img
              src="https://static.wixstatic.com/media/84770f_bdf11fa2df9d49bca7de079c550c147e~mv2.jpg/v1/fit/w_480,h_480,q_90/84770f_bdf11fa2df9d49bca7de079c550c147e~mv2.webp"
            />
          </li>
          <li>
            <img
              src="https://static.wixstatic.com/media/84770f_cd40c212221744fcb46ea3381f36dcf4~mv2.jpeg/v1/fit/w_480,h_480,q_90/84770f_cd40c212221744fcb46ea3381f36dcf4~mv2.webp"
            />
          </li>
          <li>
            <img
              src="https://static.wixstatic.com/media/84770f_7cc282fec9f24e648480c978c6edea9f~mv2.jpg/v1/fill/w_435,h_435,q_90/84770f_7cc282fec9f24e648480c978c6edea9f~mv2.webp"
              alt=""
            />
          </li>
        </ul>
      </div>
    </div>
    <div class="card-body">
      <br />
      <br />
      <h5 class="card-title">Bathrooms interiors</h5>
      <p class="card-text">
        With supporting text below as a natural lead-in to additional content.
      </p>
      <h3>Price: $6500</h3>
      
    </div>
  </div>
</div>
