@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
 

$nb-slides: 5;
 

html, body {
  color: white;
  background-color: rgb(30, 30, 35);
  text-align: center;
  font-family: "Raleway", sans-serif;
 
  h1 {
    margin-top: 50px;
    margin-bottom: 0;
    text-shadow: 5px 5px rgba($color: black, $alpha: .5);
  }
 
  h2 {
    margin: 0;
    opacity: .4;
  }
}
 
.line {
  width: 100%;
}
 
.flex {
  display: flex;
}
 
.center {
  @extend .flex;
  margin-top: -50px;
  margin-left: -50px;
 
}
 
 
.carousel-wrapper {
  @extend .flex;

  position: relative;
  max-width: 600px;
  margin: 50px;
 
  input {
    display: none;
  }
}
 
 

.carousel {
  @extend .line;
  overflow: hidden;
  border-radius: 15px;
 
  ul {
    @extend .center;
    position: relative;
    list-style: none;
    overflow: hidden;
 
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100% * $nb-slides;
 
    transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
  }
 
  li {
    @extend .line;
 
    img {
      @extend .line;
      border-radius: 15px;
    }
  }
}
 
 

.nav-dot {
  $dot-size: 15px;
  position: absolute;
  cursor: pointer;
 
  margin-left: -$dot-size / 2;
  bottom: -$dot-size * 1.5;
  width: $dot-size;
  height: $dot-size;
 
  opacity: .5;
  background-color: white;
  border-radius: 50%;
  transition: .4s;
 
  &:hover {
    opacity: .8;
    transform: scale(1.2);
  }
 
  &:active {
    transform: scale(0.9);
  }
}
 

@for $n from 1 through $nb-slides {
  
  .nav-dot[for=slide#{$n}] {
    left: 50% + ((($n - 1) - (($nb-slides - 1)/ 2)) * 5%);
  }
 
  #slide#{$n}:checked {
    
    & ~ .carousel ul { left: -100% * ($n - 1) }
 
   
    & ~ .nav-dot[for=slide#{$n}] {
      opacity: 1;
    }
  }
}
 
 

%arrow {
  $arrow-size: 50px;
  display: none;  
  position: absolute;
 
  cursor: pointer;
  font-weight: bolder;
  text-shadow: 0 0 7.5px rgba($color: black, $alpha: .7);
 
  top: 50%;
  z-index: 1;
  opacity: .7;
  margin-top: -$arrow-size / 2;
  height: $arrow-size;
  font-size: $arrow-size;
  transition: .2s;
 
  &:hover {
    opacity: 1;
    transform: scale(1.2);
  }
 
  &:active {
    transform: scale(0.9);
  }
}
 
.left-arrow {
  @extend %arrow;
  left: 15px;
}
 
.right-arrow {
  @extend %arrow;
  right: 15px;
}
 
@function custom-modulo($n) {
 
  @return 1 + ($nb-slides + (($n - 1) % $nb-slides)) % $nb-slides;
}
 
@for $n from 1 through $nb-slides {
  
 
  #slide#{$n}:checked {
    & ~ .left-arrow[for=slide#{custom-modulo($n - 1)}],
    & ~ .right-arrow[for=slide#{custom-modulo($n + 1)}] {
      display: block;
    }
  }
}
 
 
 
.signature {
  margin-top: 100px;
  bottom: 0;
  font-family: "Quicksand";
  color: rgba(150, 150, 170);
  text-shadow: 0 2.5px rgba(0, 0, 0, 0.25);
 
  .name {
    color: white;
  }
 
  .dot {
    margin: 0 5px;
  }
 
  a {
    color: white;
    text-decoration: underline;
  }
}
.card{
  border: none;
  background-color: transparent;
  border-radius: 12px;
}
a{ color: white;
  background-color: black;
  &:hover{
    background-color: #a26028;
    color: black;
  }
}
img{
  width: 600px;
height: 599px;}