<h1>M&amp;B Remodeling</h1>
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="#">home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">about</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">services</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Work</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">123-456-7890</a>
  </li>
</ul>
<div class="mainimg">
  <div class="conteiner">
    <img
      class="mainimg"
      src="https://static.wixstatic.com/media/74f558_66357e0ecfea4c86b2ea0bce6e8a9447~mv2.jpg/v1/fill/w_1359,h_860,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/74f558_66357e0ecfea4c86b2ea0bce6e8a9447~mv2.jpg"
      alt=""
    />
  </div>
</div>
<div class="maintext">
  <h1 style="font-size: 78px">
    Exceptional Home
    <br style="font-size: 78px" />
    Remodeling &amp;
    <br style="font-size: 78px" />
    Renovations
  </h1>
  <a
    id="axalgazrdebi"
    href=""
    class="btn btn-primary"
    style="
      height: 50px;
      width: 200px;
      background-color: #f1f1f1;
      color: #1e1e1e;
    "
    >Get free estimate</a
  >
</div>
<div class="conteiner">
  <div class="secondimg">
    <img
      src="https://static.wixstatic.com/media/84770f_59a5515ed0ea48efb3f1a7e3ce3098cc~mv2.jpeg/v1/fill/w_680,h_680,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/84770f_59a5515ed0ea48efb3f1a7e3ce3098cc~mv2.jpeg"
      alt=""
    />
  </div>
  <span class="primary">
    The Leading Bay Area
    <br />
    Remodeling Company
  </span>
  <p>
    I'm a paragraph. Click here to add your own text and edit me. <br />
    It’s easy. Just click “Edit Text” or double click me to add your <br />
    own content and make changes to the font.
  </p>
</div>
