<div
  class="conteiner"
  style="display: flex; justify-content: space-between; padding-right: 60px"
>
  <h2>M&amp;B Remodeling</h2>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="#">home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">about</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Work</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">123-456-7890</a>
    </li>
  </ul>
</div>
<div class="mainimg">
  <div class="conteiner">
    <img
      class="mainimg"
      src="https://static.wixstatic.com/media/74f558_66357e0ecfea4c86b2ea0bce6e8a9447~mv2.jpg/v1/fill/w_1359,h_860,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/74f558_66357e0ecfea4c86b2ea0bce6e8a9447~mv2.jpg"
      alt=""
    />
  </div>
</div>
<div class="maintext">
  <h1 style="font-size: 78px">
    Exceptional Home
    <br style="font-size: 78px" />
    Remodeling &amp;
    <br style="font-size: 78px" />
    Renovations
  </h1>
  <a
    id="axalgazrdebi"
    href=""
    class="btn btn-primary"
    style="
      height: 50px;
      width: 200px;
      background-color: #f1f1f1;
      color: #1e1e1e;
    "
    >Get free estimate</a
  >
</div>
<div class="conteiner">
  <div class="secondimg">
    <img
      src="https://static.wixstatic.com/media/84770f_59a5515ed0ea48efb3f1a7e3ce3098cc~mv2.jpeg/v1/fill/w_680,h_680,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/84770f_59a5515ed0ea48efb3f1a7e3ce3098cc~mv2.jpeg"
      alt=""
    />
    <div class="secondtext">
      <span class="primary">
        <b>
          The Leading Bay Area
          <br />
          Remodeling Company</b
        >
      </span>
      <p class="look">
        I'm a paragraph. Click here to add your own text and edit me. <br />
        It’s easy. Just click “Edit Text” or double click me to add your <br />
        own content and make changes to the font.
      </p>
      <a
        class="btn btn-secondary"
        href=""
        style="
          height: 50px;
          width: 200px;
          background-color: #1e1e1e;
          color: #f1f1f1;
          border-radius: 1px;
          margin: auto;
        "
        >More about us</a
      >
    </div>
  </div>
</div>
<div style="padding: 40px; margin: 50px" class="spanel1">
  <b> <span>Why Choose Us</span> </b>
</div>
<div class="sometext">
  <span
    >Easy <br />
    Financing</span
  >
  <span>
    Free, At Home <br />
    Consultations</span
  >
  <span
    >Award Winning <br />
    Service</span
  >
  <span>
    Licensed &amp; <br />
    Insured
  </span>
</div>
<div class="someworld">
  <span>
    I'm a paragraph. Click here <br />
    to add your own text.</span
  >

  <span>
    I'm a paragraph. Click here <br />
    to add your own text.</span
  >
  <span>
    I'm a paragraph. Click here <br />
    to add your own text.</span
  >
  <span>
    I'm a paragraph. Click here <br />
    to add your own text.</span
  >
</div>

<div class="spanel">
  <span>Our Services Include</span>
</div>
<div class="servicepictures">
  <img
    style="width: 433px; height: 590px"
    src="https://static.wixstatic.com/media/74f558_993f041afc4045c69c824d6022d78ca0~mv2_d_4000_2667_s_4_2.jpeg/v1/fill/w_543,h_908,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/74f558_993f041afc4045c69c824d6022d78ca0~mv2_d_4000_2667_s_4_2.jpeg"
    alt="kitchens"
  />
  <img
    style="width: 433px; height: 590px"
    src="https://static.wixstatic.com/media/74f558_4ef3f401e4a2400a8979c42d1a7ba1a7~mv2_d_5760_3840_s_4_2.jpeg/v1/fill/w_535,h_908,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/74f558_4ef3f401e4a2400a8979c42d1a7ba1a7~mv2_d_5760_3840_s_4_2.jpeg"
    alt="Bathrooms"
  />
  <img
    style="width: 433px; height: 590px"
    src="https://static.wixstatic.com/media/74f558_9b1cc2c7424d47bf83b890c15ed8127f~mv2_d_5625_3750_s_4_2.jpg/v1/fill/w_535,h_908,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/74f558_9b1cc2c7424d47bf83b890c15ed8127f~mv2_d_5625_3750_s_4_2.jpg"
    alt="interiors"
  />
</div>
<div class="servicepicturestexts">
  <title style="font-size: 22px">kitchens</title>
</div>
