body{
    margin: 0;
    padding: 0;
}
div.mainimg{
    padding-right: 50px;
    margin: 10px;
    padding-top: 30px;
 
}
img.mainimg{
    background-attachment:fixed;
    padding-left: 70px;
   
    filter: brightness(70%);
    margin: auto;
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;

    

}

li.nav-item a.nav-link{
    color: #1e1e1e;
   

    
}
div.maintext{
  position: absolute;
  left: 160px;
  top:300px;
  color: #f5f5f5;
  font-size: 72px;




}
li.nav-item a.nav-link:hover{
    color: #a26028;
}
#axalgazrdebi :hover{color: #a26028;

}

