<h1>M&amp;B Remodeling</h1>
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="#">home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">about</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">services</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Work</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">123-456-7890</a>
  </li>
</ul>
<div class="mainimg">
</div>
<div class="maintext"><h1>Exceptional Home
  <br>
  Remodeling &amp;
  <br>
  Renovations</h1>
</div>
<div class="conteiner">
<div class="secondimg">
<img src="https://static.wixstatic.com/media/84770f_59a5515ed0ea48efb3f1a7e3ce3098cc~mv2.jpeg/v1/fill/w_680,h_680,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/84770f_59a5515ed0ea48efb3f1a7e3ce3098cc~mv2.jpeg" alt="">
</div>
<span>
  The Leading Bay Area
  <br>
  Remodeling Company
</span>
<p>I'm a paragraph. Click here to add your own text and edit me.
  <br> It’s easy. Just click “Edit Text” or double click me to add your
  <br> own content and make changes to the font.

</p>
</div>