<div class="card w-30">
  <div class="center">
    <div class="carousel-wrapper">
      <!-- abstract radio buttons for slides -->
      <input id="slide1" type="radio" name="controls" checked="checked" />
      <input id="slide2" type="radio" name="controls" />
      <input id="slide3" type="radio" name="controls" />
      <input id="slide4" type="radio" name="controls" />
      <input id="slide5" type="radio" name="controls" />

      <!-- navigation dots -->
      <label for="slide1" class="nav-dot"></label>
      <label for="slide2" class="nav-dot"></label>
      <label for="slide3" class="nav-dot"></label>
      <label for="slide4" class="nav-dot"></label>
      <label for="slide5" class="nav-dot"></label>

      <!-- arrows -->
      <label for="slide1" class="left-arrow"> < </label>
      <label for="slide2" class="left-arrow"> < </label>
      <label for="slide3" class="left-arrow"> < </label>
      <label for="slide4" class="left-arrow"> < </label>
      <label for="slide5" class="left-arrow"> < </label>

      <label for="slide1" class="right-arrow"> > </label>
      <label for="slide2" class="right-arrow"> > </label>
      <label for="slide3" class="right-arrow"> > </label>
      <label for="slide4" class="right-arrow"> > </label>
      <label for="slide5" class="right-arrow"> > </label>

      <div class="carousel">
        <ul>
          <li>
            <img
              src="https://static.wixstatic.com/media/84770f_76a3c2e844564f65a279b500b1e02cd4~mv2.jpeg/v1/fit/w_480,h_480,q_90/84770f_76a3c2e844564f65a279b500b1e02cd4~mv2.webp"
            />
          </li>
          <li>
            <img
              src="https://static.wixstatic.com/media/84770f_90ea2ac28d32475998f8280f84c837c9~mv2.jpg/v1/fit/w_480,h_479,q_90/84770f_90ea2ac28d32475998f8280f84c837c9~mv2.webp"
              alt=""
            />
          </li>
          <li>
            <img
              src="https://static.wixstatic.com/media/3be7d16de76f4d379db9b222f7a9a15b.jpg/v1/fit/w_480,h_480,q_90/3be7d16de76f4d379db9b222f7a9a15b.webp"
            />
          </li>
          <li>
            <img
              src="https://static.wixstatic.com/media/84770f_76a3c2e844564f65a279b500b1e02cd4~mv2.jpeg/v1/fill/w_435,h_435,q_90/84770f_76a3c2e844564f65a279b500b1e02cd4~mv2.webp"
            />
          </li>
          <li>
            <img
              src="https://static.wixstatic.com/media/84770f_90ea2ac28d32475998f8280f84c837c9~mv2.jpg/v1/fill/w_436,h_435,q_90/84770f_90ea2ac28d32475998f8280f84c837c9~mv2.webp"
              alt=""
            />
          </li>
        </ul>
      </div>
    </div>
    <div class="card-body">
      <br />
      <br />
      <h5 class="card-title">Kitchen interiors</h5>
      <p class="card-text">
        With supporting text below as a natural lead-in to additional content.
      </p>
      <h3>Price: $4500</h3>
      <a href="#" class="btn btn-primary">Add to card</a>
    </div>
  </div>
</div>
