<div class="work-1">
  <h1>Our Work</h1>
  <p>
    You're invited to browse a selection of recently completed projects below.
  </p>
</div>
<div class="work-2">
  <div>
    <img
      src="https://static.wixstatic.com/media/84770f_59a5515ed0ea48efb3f1a7e3ce3098cc~mv2.jpeg/v1/fit/w_480,h_480,q_90/84770f_59a5515ed0ea48efb3f1a7e3ce3098cc~mv2.webp"
      alt=""
    />
  </div>
  <div>
    <img
      src="https://static.wixstatic.com/media/84770f_734548bad9a64870bcdf536d143a67e9~mv2.jpeg/v1/fit/w_480,h_479,q_90/84770f_734548bad9a64870bcdf536d143a67e9~mv2.webp"
      alt=""
    />
  </div>
  <div>
    <img
      src="https://static.wixstatic.com/media/84770f_90ea2ac28d32475998f8280f84c837c9~mv2.jpg/v1/fit/w_480,h_480,q_90/84770f_90ea2ac28d32475998f8280f84c837c9~mv2.webp"
      alt=""
    />
  </div>
  <div>
    <img
      src="https://static.wixstatic.com/media/d30b06be6cb14976be28fdf001f2b34c.jpg/v1/fit/w_480,h_480,q_90/d30b06be6cb14976be28fdf001f2b34c.webp"
      alt=""
    />
  </div>
  <div>
    <img
      src="https://static.wixstatic.com/media/84770f_619db8cc54974cb890cb1241f862df08~mv2.jpeg/v1/fill/w_436,h_435,q_90/84770f_619db8cc54974cb890cb1241f862df08~mv2.webp"
      alt=""
    />
  </div>
  <div>
    <img
      src="https://static.wixstatic.com/media/84770f_09ff25b3874d46fab6254709c0a61fbb~mv2.jpeg/v1/fill/w_435,h_435,q_90/84770f_09ff25b3874d46fab6254709c0a61fbb~mv2.webp"
      alt=""
    />
  </div>
</div>
<div class="last-span">
  <div>
    <span
      >Create your dream home. <br />
      Tell us about your project today.</span
    ><br />
    <button class="btn-primary">Get A free estimate</button>
  </div>
</div>
