<div class="mainspanforabout">
  <span>About M&B Remodeling</span>
</div>
<div class="mainpforabout">
  <p>
    I'm a paragraph. Click here to add your own text and edit me. Its easy. Just
    click “Edit Text” or double click <br />
    me to add your own content and make changes to the font. Feel free to drag
    and drop me anywhere you <br />
    like on your page. Im a great place for you to tell a story and let your
    users know a little more about you
  </p>
</div>

<div class="imgforabout">
  <img src="" alt="" />
</div>

<div class="spaaan">
  <span>Our Process</span>
</div>

<div class="paragg">
  <p>
    I'm a paragraph. Click here to add your own text and edit me. Its easy.
    <br />
    Just click “Edit Text” or double click me to add your own content and make
    changes to the font.
  </p>
</div>
<div class="max-diva">
  <div class="hard1">
    <img
      src="https://static.wixstatic.com/media/74f558_b261ab6879d14b0bbc9800ec41ba91fd~mv2_d_6208_4258_s_4_2.jpeg/v1/fill/w_475,h_525,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01,enc_auto/74f558_b261ab6879d14b0bbc9800ec41ba91fd~mv2_d_6208_4258_s_4_2.jpeg"
      alt=""
    />
  </div>
  <div class="hard2">
    <b>
      <span>
        Preconstruction<br />
        Design</span
      ></b
    >
    <p></p>
    <p>
      I'm a paragraph. Click here to
      <br />
      add your own text and edit<br />
      me. Let your users get to<br />
      know you.
    </p>
  </div>
  <div class="hard1">
    <img
      src="https://static.wixstatic.com/media/74f558_0e46dc42786945daad2d2535524461c3~mv2_d_6048_4032_s_4_2.jpeg/v1/fill/w_475,h_525,fp_0.43_0.30,q_80,usm_0.66_1.00_0.01,enc_auto/74f558_0e46dc42786945daad2d2535524461c3~mv2_d_6048_4032_s_4_2.jpeg"
      alt=""
    />
  </div>
  <div class="hard2">
    <b
      ><span
        >Design &<br />
        Construction <br />
        Estimate</span
      >
    </b>
    <p></p>
    <p>
      I'm a paragraph. Click here to
      <br />
      add your own text and edit<br />
      me. Let your users get to<br />
      know you.
    </p>
  </div>
  <div class="hard2">
    <b>
      <span
        >On-Site <br />
        Consultations</span
      ></b
    >
    <p></p>
    <p>
      I'm a paragraph. Click here to
      <br />
      add your own text and edit<br />
      me. Let your users get to<br />
      know you.
    </p>
  </div>
  <div class="hard1">
    <img
      src="https://static.wixstatic.com/media/74f558_ac023650dfaf4026972886b8c33e06e9~mv2_d_4000_2983_s_4_2.jpg/v1/fill/w_475,h_525,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01,enc_auto/74f558_ac023650dfaf4026972886b8c33e06e9~mv2_d_4000_2983_s_4_2.jpg"
      alt=""
    />
  </div>
  <div class="hard2">
    <b
      ><span>The Finishing <br />Touches</span></b
    >
    <p>
      I'm a paragraph. Click here to
      <br />
      add your own text and edit<br />
      me. Let your users get to<br />
      know you.
    </p>
  </div>
  <div class="hard1">
    <img
      src="https://static.wixstatic.com/media/74f558_d26f60b4ce744d9c9e82426a09cd84b5~mv2_d_5616_3744_s_4_2.jpeg/v1/fill/w_475,h_525,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01,enc_auto/74f558_d26f60b4ce744d9c9e82426a09cd84b5~mv2_d_5616_3744_s_4_2.jpeg"
      alt=""
    />
  </div>
</div>

<div class="spanana">
  <span>Our Quality Guarantee</span>
</div>

<div class="panana">
  <p>
    I'm a paragraph. Click here to add your own text and edit me. Its easy. Just
    click “Edit Text” or double click me to add your own <br />
    content and make changes to the font. Feel free to drag and drop me anywhere
    you like on your page. Im a great place for you <br />
    to tell a story and let your users know a little more about you. ​
  </p>

  <p>
    This is a great space to write long text about your company and your
    services. You can use this space to go into a little more <br />
    detail about your company. Talk about your team and what services you
    provide. Tell your visitors the story of how you came up <br />
    with the idea for your business and what makes you different from your
    competitors. Make your company stand out and show <br />
    your visitors who you are.
  </p>
  <p></p>
  <p>
    At Wix we’re passionate about making templates that allow you to build
    fabulous websites and it’s all thanks to the support and <br />
    feedback from users like you! Keep up to date with New Releases and what’s
    Coming Soon in Wix ellaneous in Support. Feel free <br />
    to tell us what you think and give us feedback in the Wix Forum. If you’d
    like to benefit from a professional designer’s touch, head <br />
    to the Wix Arena and connect with one of our Wix Pro designers. Or if you
    need more help you can simply type your questions <br />
    into the Support Forum and get instant answers. To keep up to date with
    everything Wix, including tips and things we think are <br />
    cool, just head to the Wix Blog!
  </p>
</div>

<div class="last-span">
  <div>
    <span
      >Create your dream home. <br />
      Tell us about your project today.</span
    ><br />
    <button class="btn-primary">Get free estimate</button>
  </div>
</div>
