.mainspanforabout{
   display: flex;
   text-align: center;
   justify-content: center;
   font-size: 40px;
   color: #1E1E1E;
}
.mainpforabout{
    display: flex;
   text-align: center;
   justify-content: center;
   font-size: 15px;
   color: #1E1E1E;
}


