 
<div class="card w-30">
    <div class="center">
      <div class="carousel-wrapper">
        <!-- abstract radio buttons for slides -->
        <input id="slide1" type="radio" name="controls" checked="checked" />
        <input id="slide2" type="radio" name="controls" />
        <input id="slide3" type="radio" name="controls" />
        <input id="slide4" type="radio" name="controls" />
        <input id="slide5" type="radio" name="controls" />
     
        <!-- navigation dots -->
        <label for="slide1" class="nav-dot"></label>
        <label for="slide2" class="nav-dot"></label>
        <label for="slide3" class="nav-dot"></label>
        <label for="slide4" class="nav-dot"></label>
        <label for="slide5" class="nav-dot"></label>
     
        <!-- arrows -->
        <label for="slide1" class="left-arrow"> < </label>
        <label for="slide2" class="left-arrow"> < </label>
        <label for="slide3" class="left-arrow"> < </label>
        <label for="slide4" class="left-arrow"> < </label>
        <label for="slide5" class="left-arrow"> < </label>
     
        <label for="slide1" class="right-arrow"> > </label>
        <label for="slide2" class="right-arrow"> > </label>
        <label for="slide3" class="right-arrow"> > </label>
        <label for="slide4" class="right-arrow"> > </label>
        <label for="slide5" class="right-arrow"> > </label>
     
        <div class="carousel">
          <ul>
            <li>
              <img src="https://wallpapers.com/images/hd/1920x1080-kitchen-background-1920-x-1080-8xjtobpgqbe6n1bj.jpg"  />
            </li>
            <li>
              <img src="https://c4.wallpaperflare.com/wallpaper/363/319/620/classy-kitchen-design-brown-kitchen-wallpaper-preview.jpg" alt="">
            </li>
            <li>
              <img src="https://w0.peakpx.com/wallpaper/672/292/HD-wallpaper-modern-kitchen-kitchen-design-dark-wood-minimalism.jpg" />
            </li>
            <li>
              <img src="https://www.ateliersjacob.com/app/uploads/2021/03/modern-kitchen-6-1.jpg">
            </li>
            <li>
              <img src="https://www.mymodernhome.com/media/images/MODERN_KITCHEN-No.1.5395933d.fill-1920x1080.format-webp.webp" alt="">
            </li>
          </ul>
        </div>
      </div>
      <div class="card-body">
        <br>
        <br>
      <h5 class="card-title">Kitchen interiors</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <h3>Price: $4500</h3>
      
    </div>
    </div>
    