 
<div class="card w-30">
    <div class="center">
      <div class="carousel-wrapper">
        <!-- abstract radio buttons for slides -->
        <input id="slide1" type="radio" name="controls" checked="checked" />
        <input id="slide2" type="radio" name="controls" />
        <input id="slide3" type="radio" name="controls" />
        <input id="slide4" type="radio" name="controls" />
        <input id="slide5" type="radio" name="controls" />
     
        <!-- navigation dots -->
        <label for="slide1" class="nav-dot"></label>
        <label for="slide2" class="nav-dot"></label>
        <label for="slide3" class="nav-dot"></label>
        <label for="slide4" class="nav-dot"></label>
        <label for="slide5" class="nav-dot"></label>
     
        <!-- arrows -->
        <label for="slide1" class="left-arrow"> < </label>
        <label for="slide2" class="left-arrow"> < </label>
        <label for="slide3" class="left-arrow"> < </label>
        <label for="slide4" class="left-arrow"> < </label>
        <label for="slide5" class="left-arrow"> < </label>
     
        <label for="slide1" class="right-arrow"> > </label>
        <label for="slide2" class="right-arrow"> > </label>
        <label for="slide3" class="right-arrow"> > </label>
        <label for="slide4" class="right-arrow"> > </label>
        <label for="slide5" class="right-arrow"> > </label>
     
        <div class="carousel">
          <ul>
            <li>
              <img src="https://w0.peakpx.com/wallpaper/347/251/HD-wallpaper-modern-house-design-country-house-exterior-modern-design.jpg" />
            </li>
            <li>
              <img src="https://static.vecteezy.com/system/resources/previews/026/586/537/large_2x/beautiful-modern-house-exterior-with-grass-field-modern-residential-district-and-minimalist-building-concept-by-ai-generated-free-photo.jpg" alt="">
            </li>
            <li>
              <img src="https://blenderartists.org/uploads/default/original/4X/e/8/b/e8b10da2703a8a6c4b69b0336d7f85ac84dd1d5c.jpeg" />
            </li>
            <li>
              <img src="https://i.pinimg.com/originals/6c/61/84/6c61847b7f0d6c5bac2ad27354b109eb.jpg">
            </li>
            <li>
              <img src="https://res.cloudinary.com/luxuryp/images/w_1280,c_limit,f_auto,q_auto/lpglcnudwfvnyfzxilth/01-1920px" alt="">
            </li>
          </ul>
        </div>
      </div>
      <div class="card-body">
        <br>
        <br>
      <h5 class="card-title"> Exteriors</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <h3>Price: $250000</h3>
      
    </div>
    </div>
    