.spanforservice{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    color: #1E1E1E;
    margin-top: 100px;
}

.pforservices{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    color: #1E1E1E;
    
}