<div class="spanforservice"><span>Our Services</span></div>
<div class="pforservice">Let us help you make your dreams a reality.</div>

<div class="fistpicturesforservice">
  <img (click)="clickPhoto()"
    src="https://static.wixstatic.com/media/84770f_d8d01f48d794443c8237018af974c192~mv2.jpg/v1/fit/w_480,h_360,q_90/84770f_d8d01f48d794443c8237018af974c192~mv2.webp"
    alt=""
  />
  <img (click)="clickBathroom()"
    src="https://static.wixstatic.com/media/efa0f8259ee7477e92be257c19f8b3b9.jpg/v1/fit/w_480,h_360,q_90/efa0f8259ee7477e92be257c19f8b3b9.webp"
    alt=""
  />
  <img (click)="clickInteriors()"
    src="https://static.wixstatic.com/media/84770f_cd17fb21ef2e4ace992e927516c40e00~mv2.jpeg/v1/fit/w_480,h_360,q_90/84770f_cd17fb21ef2e4ace992e927516c40e00~mv2.webp"
    alt=""
  />


  <div>
    <a>Kitchens </a>
    <p>
      Describe your image here. Use catchy text to tell <br />
      behind the photo.<br />
      Go to “Manage Media” to add your content.
      
    </p>
  </div>
  <div>
    <a >Bathroom</a>
    <p>
      Describe your image here. Use catchy text to tell people the story<br />
       behind the photo.<br />
      Go to “Manage Media” to add your content.
    </p>
  </div>
  <div>
    <a >interiors</a> 
    <p>
      Describe your image here. Use catchy text to tell people the story<br />
       behind the photo.<br />
      Go to “Manage Media” to add your content.
    </p>
  </div>
 </div>
<div class="picturesforservice">
  <img  (click)="clickAddintions()"
    src="https://static.wixstatic.com/media/84770f_4b843746603e44618105ce2ee5a56abc~mv2.jpeg/v1/fill/w_426,h_320,q_90/84770f_4b843746603e44618105ce2ee5a56abc~mv2.webp"
    alt=""
  />
  <img (click)="clickExteriors()"
    src="https://static.wixstatic.com/media/cd5b640880ce4ca3a1d3ba165d8ee82d.jpg/v1/fill/w_427,h_320,q_90/cd5b640880ce4ca3a1d3ba165d8ee82d.webp"
    alt=""
  />
  <img (click)="clickSunrums()"
    src="https://static.wixstatic.com/media/dcb18a51041d442ebf011092278a2ccb.jpg/v1/fill/w_426,h_320,q_90/dcb18a51041d442ebf011092278a2ccb.webp"
    alt=""
  />


  <div>
    <span><b>Additions</b></span>
    <p>
      Describe your image here. Use catchy text to tell people the story<br />
       behind the photo.<br />
      Go to “Manage Media” to add your content.
    </p>
  </div>
  <div>
    <span><b>Exteriors</b> </span>
    <p>
      Describe your image here. Use catchy text to tell people the story <br />
       behind the photo.<br />
      Go to “Manage Media” to add your content.
    </p>
  </div>
  <div>
    <span><b>Sunrooms</b> </span>
    <p>
      Describe your image here. Use catchy text to tell people the story<br />
       behind the photo.<br />
      Go to “Manage Media” to add your content.
    </p>
  </div>
</div>
<div class="last-span">
  <div>
    <span
      >Create your dream home. <br />
      Tell us about your project today.</span
    ><br />
    <button class="btn-primary" (click)="clickEstimate()">Get free estimate</button>
  </div>
</div>
